<table border="0" cellspacing="2" cellpadding="2" class="coloredTable" align="center" width="95%"><!-- width set to 95% for Netscape 4 -->
	<tr>
		<th class="coloredTableHeading">
			Requested Unit Name
		</th>
		<th class="coloredTableHeading">
			Reason(s) for invalidation
		</th>
	</tr>
	<WEBOBJECT NAME=OrgUnitRep>
	<tr>
		<td align="left">
			<b><WEBOBJECT NAME=UnitNameString></WEBOBJECT></b>
		</td>
		<td align="left">
			<b><WEBOBJECT NAME=ErrorMessageString></WEBOBJECT></b>
		</td>
	</tr>
	</WEBOBJECT>
</table>