<webobject name=DynamicBodyComponent>
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content">
		<tr>
			<td style="padding-left: 2px;">
				<h1>Confirm
					<webobject name=String1></webobject></h1>
			</td>
		</tr>
		<tr>
			<td>
				<table border="0" cellpadding="2" cellspacing="2" width="100%">
					<tr>
						<td>
							<hr class="primaryBarStyle">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<div align="center">
		<webobject name=ConfirmForm>
			<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content">
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan=2 align=CENTER>
						<webobject name=Message></webobject>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
			<table align="center">
				<tr>
					<!-- May need a table for Netscape 4 if memmory serves me correct... -->
					<td valign="top" align="center" class="deleteButton">
						<webobject name=ConfirmButton></webobject>
					</td>
					<td>&nbsp;&nbsp;&nbsp;</td>
					<td align="center">
						<webobject name=DenyButton></webobject>
					</td>
				</tr>
			</table>
		</webobject name=ConfirmForm>
</webobject name=DynamicBodyComponent>