<!-- SendPasswordPanel Start -->
<WEBOBJECT NAME=SendPasswordForm>
	<table border="0" cellpadding="2" cellspacing="2" class="content">
		<TR>
			<TD ALIGN="left" VALIGN="top" class="coloredBoldText">
				<WEBOBJECT NAME=SubTitleString></WEBOBJECT>
			</TD>
			<TD ALIGN="right" VALIGN="top">
				<WEBOBJECT NAME=ResetButton></WEBOBJECT>
				<WEBOBJECT NAME=SpacerImage></WEBOBJECT>
				<WEBOBJECT NAME=SubmitButton></WEBOBJECT>
			</TD>
		</TR>
		<tr>
			<td colspan="2" valign="top">
				<hr class="primaryBarStyle">
          	</td>
		</tr>
		<WEBOBJECT NAME=HasErrorMessageConditional>
			<TR>
				<TD ALIGN="left" VALIGN="top" colspan="2" class="warningText">
					<WEBOBJECT NAME=ErrorMessageString></WEBOBJECT>
				</TD>
			</TR>
		</WEBOBJECT>
		<TR>
			<TD class="boldText" colspan="2">
				User Name:
				<I class="coloredText">(your email address)</I>
				<WEBOBJECT NAME=UserIDTextField></WEBOBJECT>
			</TD>
		</TR>
	</TABLE>
</WEBOBJECT NAME=SendPasswordForm>
<!-- SendPasswordPanel End -->
