{
	// Contents from ISO3166
    "AD" = "ANDORRA";
    "AE" = "UNITED_ARAB_EMIRATES";
    "AF" = "AFGHANISTAN";
    "AG" = "ANTIGUA_AND_BARBUDA";
    "AI" = "ANGUILLA";
    "AL" = "ALBANIA";
    "AM" = "ARMENIA";
    "AN" = "NETHERLANDS_ANTILLES";
    "AO" = "ANGOLA";
    "AQ" = "ANTARCTICA";
    "AR" = "ARGENTINA";
    "AS" = "AMERICAN_SAMOA";
    "AT" = "AUSTRIA";
    "AU" = "AUSTRALIA";
    "AW" = "ARUBA";
    "AZ" = "AZERBAIJAN";
    "BA" = "BOSNIA_AND_HERZEGOVINA";
    "BB" = "BARBADOS";
    "BD" = "BANGLADESH";
    "BE" = "BELGIUM";
    "BF" = "BURKINA_FASO";
    "BG" = "BULGARIA";
    "BH" = "BAHRAIN";
    "BI" = "BURUNDI";
    "BJ" = "BENIN";
    "BM" = "BERMUDA";
    "BN" = "BRUNEI_DARUSSALAM";
    "BO" = "BOLIVIA";
    "BR" = "BRAZIL";
    "BS" = "BAHAMAS";
    "BT" = "BHUTAN";
    "BV" = "BOUVET_ISLAND";
    "BW" = "BOTSWANA";
    "BY" = "BELARUS";
    "BZ" = "BELIZE";
    "CA" = "CANADA";
    "CC" = "COCOS_(KEELING)_ISLANDS";
    "CD" = "CONGO_THE_DEMOCRATIC_REPUBLIC_OF_THE";
    "CF" = "CENTRAL_AFRICAN_REPUBLIC";
    "CG" = "CONGO";
    "CH" = "SWITZERLAND";
    "CI" = "CÔTE_D'IVOIRE";
    "CK" = "COOK_ISLANDS";
    "CL" = "CHILE";
    "CM" = "CAMEROON";
    "CN" = "CHINA";
    "CO" = "COLOMBIA";
    "CR" = "COSTA_RICA";
    "CU" = "CUBA";
    "CV" = "CAPE_VERDE";
    "CX" = "CHRISTMAS_ISLAND";
    "CY" = "CYPRUS";
    "CZ" = "CZECH_REPUBLIC";
    "DE" = "GERMANY";
    "DJ" = "DJIBOUTI";
    "DK" = "DENMARK";
    "DM" = "DOMINICA";
    "DO" = "DOMINICAN_REPUBLIC";
    "DZ" = "ALGERIA";
    "EC" = "ECUADOR";
    "EE" = "ESTONIA";
    "EG" = "EGYPT";
    "EH" = "WESTERN_SARARA";
    "ER" = "ERITREA";
    "ES" = "SPAIN";
    "ET" = "ETHIOPIA";
    "FI" = "FINLAND";
    "FJ" = "FIJI";
    "FK" = "FALKLAND_ISLANDS_(MALVINAS)";
    "FM" = "MICRONESIA_FEDERATED_STATES_OF";
    "FO" = "FAROE_ISLANDS";
    "FR" = "FRANCE";
    "GA" = "GABON";
    "GB" = "UNITED_KINGDOM";
    "GD" = "GRENADA";
    "GE" = "GEORGIA";
    "GF" = "FRENCH_GUIANA";
    "GH" = "GHANA";
    "GI" = "GIBRALTAR";
    "GL" = "GREENLAND";
    "GM" = "GAMBIA";
    "GN" = "GUINEA";
    "GP" = "GUADELOUPE";
    "GQ" = "EQUATORIAL_GUINEA";
    "GR" = "GREECE";
    "GS" = "SOUTH_GEORGIA_AND_THE_SOUTH_SANDWICH_ISLANDS";
    "GT" = "GUATEMALA";
    "GU" = "GUAM";
    "GW" = "GUINEA-BISSAU";
    "GY" = "GUYANA";
    "HK" = "HONG_KONG";
    "HM" = "HEARD_ISLAND_AND_MCDONALD_ISLANDS";
    "HN" = "HONDURAS";
    "HR" = "CROATIA";
    "HT" = "HAITI";
    "HU" = "HUNGARY";
    "ID" = "INDONESIA";
    "IE" = "IRELAND";
    "IL" = "ISRAEL";
    "IN" = "INDIA";
    "IO" = "BRITISH_INDIAN_OCEAN_TERRITORY";
    "IQ" = "IRAQ";
    "IR" = "IRAN_ISLAMIC_REPUBLIC_OF";
    "IS" = "ICELAND";
    "IT" = "ITALY";
    "JM" = "JAMAICA";
    "JO" = "JORDAN";
    "JP" = "JAPAN";
    "KE" = "KENYA";
    "KG" = "KYRGYZSTAN";
    "KH" = "CAMBODIA";
    "KI" = "KIRIBATI";
    "KM" = "COMOROS";
    "KN" = "SAINT_KITTS_AND_NEVIS";
    "KP" = "KOREA_DEMOCRATIC_PEOPLES_REPUBLIC_OF";
    "KR" = "KOREA_REPUBLIC_OF";
    "KW" = "KUWAIT";
    "KY" = "CAYMAN_ISLANDS";
    "KZ" = "KAZAKHSTAN";
    "LA" = "LAO_PEOPLES_DEMOCRATIC_REPUBLIC";
    "LB" = "LEBANON";
    "LC" = "SAINT_LUCIA";
    "LI" = "LIECHTENSTEIN";
    "LK" = "SRI_LANKA";
    "LR" = "LIBERIA";
    "LS" = "LESOTHO";
    "LT" = "LITHUANIA";
    "LU" = "LUXEMBOURG";
    "LV" = "LATVIA";
    "LY" = "LIBYAN_ARAB_JAMABIRIYA";
    "MA" = "MOROCCO";
    "MC" = "MONACO";
    "MD" = "MOLDOVA_REPUBLIC_OF";
    "MG" = "MADAGASCAR";
    "MH" = "MARSHALL_ISLANDS";
    "MK" = "MACEDONIA_THE_FORMER_YUGOSLAV_REPUBLIC_OF";
    "ML" = "MALI";
    "MM" = "MYANMAR";
    "MN" = "MONGOLIA";
    "MO" = "MACAU";
    "MP" = "NORTHERN_MARIANA_ISLANDS";
    "MQ" = "MARTINIQUE";
    "MR" = "MAURITANIA";
    "MS" = "MONTSERRAT";
    "MT" = "MALTA";
    "MU" = "MAURITIUS";
    "MV" = "MALDIVES";
    "MW" = "MALAWI";
    "MX" = "MEXICO";
    "MY" = "MALAYSIA";
    "MZ" = "MOZAMBIQUE";
    "NA" = "NAMIBIA";
    "NC" = "NEW_CALEDONIA";
    "NE" = "NIGER";
    "NF" = "NORFOLK_ISLAND";
    "NG" = "NIGERIA";
    "NI" = "NICARAGUA";
    "NL" = "NETHERLANDS";
    "NO" = "NORWAY";
    "NP" = "NEPAL";
    "NU" = "NIUE";
    "NZ" = "NEW_ZEALAND";
    "OM" = "OMAN";
    "PA" = "PANAMA";
    "PE" = "PERU";
    "PF" = "FRENCH_POLYNESIA";
    "PG" = "PAPUA_NEW_GUINEA";
    "PH" = "PHILIPPINES";
    "PK" = "PAKISTAN";
    "PL" = "POLAND";
    "PM" = "SAINT_PIERRE_AND_MIQUELON";
    "PN" = "PITCAIRN";
    "PR" = "PUERTO_RICO";
    "PT" = "PORTUGAL";
    "PW" = "PALAU";
    "PY" = "PARAGUAY";
    "QA" = "QATAR";
    "RE" = "RÉUNION";
    "RO" = "ROMANIA";
    "RU" = "RUSSIAN_FEDERATION";
    "RW" = "RWANDA";
    "SA" = "SAUDI_ARABIA";
    "SB" = "SOLOMON_ISLANDS";
    "SC" = "SEYCHELLES";
    "SD" = "SUDAN";
    "SE" = "SWEDEN";
    "SG" = "SINGAPORE";
    "SH" = "SAINT_HELENA";
    "SI" = "SLOVENIA";
    "SJ" = "SVALBARD_AND_JAN_MAYEN";
    "SK" = "SLOVAKIA";
    "SL" = "SIERRA_LEONE";
    "SM" = "SAN_MARINO";
    "SN" = "SENEGAL";
    "SO" = "SOMALIA";
    "SR" = "SURINAME";
    "ST" = "SAO_TOME_AND_PRINCIPE";
    "SV" = "EL_SALVADOR";
    "SY" = "SYRIAN_ARAB_REPUBLIC";
    "SZ" = "SWAZILAND";
    "TC" = "TURKS_AND_CAICOS_ISLANDS";
    "TD" = "CHAD";
    "TF" = "FRENCH_SOUTHERN_TERRITORIES";
    "TG" = "TOGO";
    "TH" = "THAILAND";
    "TJ" = "TAJIKISTAN";
    "TK" = "TOKELAU";
    "TM" = "TURKMENISTAN";
    "TN" = "TUNISIA";
    "TO" = "TONGA";
    "TP" = "EAST_TIMOR";
    "TR" = "TURKEY";
    "TT" = "TRINIDAD_AND_TOBAGO";
    "TV" = "TUVALU";
    "TW" = "TAIWAN_PROVINCE_OF_CHINA";
    "TZ" = "TANZANIA_UNITED_REPUBLIC_OF";
    "UA" = "UKRAINE";
    "UG" = "UGANDA";
    "UM" = "UNITED_STATES_MINOR_OUTLYING_ISLANDS";
    "US" = "UNITED_STATES";
    "UY" = "URUGUAY";
    "UZ" = "UZBEKISTAN";
    "VE" = "VENEZUELA";
    "VG" = "VIRGIN_ISLANDS_BRITISH";
    "VI" = "VIRGIN_ISLANDS_U.S.";
    "VN" = "VIET_NAM";
    "VU" = "VANUATU";
    "WF" = "WALLIS_AND_FUTUNA";
    "WS" = "SAMOA";
    "YE" = "YEMEN";
    "YT" = "MAYOTTE";
    "YU" = "YUGOSLAVIA";
    "ZA" = "SOUTH_AFRICA";
    "ZM" = "ZAMBIA";
    "ZW" = "ZIMBABWE";
}