<table border = "0" cellspacing = "2" cellpadding = "2" class = "coloredTable" align = "center" width = "95%">
  <tr>
    <th id = "daListShowFieldHeading" align = "center" class = "coloredTableHeading">
      Show<br />Field 
    </th>
    <th id = "daListFieldNameHeading" class = "coloredTableHeading">
      Field<br />Name 
    </th>
    <th id = "daListFieldTypeHeading" class = "coloredTableHeading">
      Field<br />Type 
    </th>
    <th id = "daListAllowEditsHeading" class = "coloredTableHeading">
      Allow<br />Edits 
    </th>
    <th id = "daListOptionsHeading" class = "coloredTableHeading"> Field Options </th>
    <th class="daListChangeOrderHeading">
      Change<br />Order
    </th>
  </tr>
</table>

<webobject name = "ColumnList">
  <table border = "0" cellspacing = "2" cellpadding = "2" class = "coloredTable" align = "center" width = "95%">
    <tr>
      <td class = "daListShowField" align = "center"> <webobject name = "ShowField" /> </td>
      <td class = "daListFieldName" align = "center"> <webobject name = "FieldName" /> </td>
      <td class = "daListFieldType" align = "center">
        <webobject name = "IsNotCalculatedColumnConditional"><webobject name = "FieldType" /></webobject>
        <webobject name = "IsCalculatedColumnConditional"><webobject name = "CalculationType" /></webobject>
      </td>
      <td class = "daListAllowEdits" align = "center">
        <webobject name = "IsEditableColumnConditional"><webobject name = "AllowEdits" /></webobject>
        <webobject name = "IsCalculatedColumnConditional">Calculated</webobject>
        <webobject name = "IsSystemColumnConditional">
          <i>System</i>
        </webobject>
      </td>
      <td class = "daListOptions" align = "left"> <webobject name = "DataAccessColumnComponent" /> </td>
      <td class="daListChangeOrder" align="center">
        <webobject name="OrderPopup"></webobject>
      </td>
    </tr>
  </table>
</webobject>
