<webobject name = "WebsiteSelectedConditional">
  <div class = "currentSiteInfoContainer">
    <div>
      Configuring site: 
      <webobject name = "ConfigureSiteURLHyperlink"><webobject name = "ConfiguringSiteURLString" /></webobject>
    </div>
    <webobject name = "PublishedUpdateContainer">
      This site is 
      <webobject name = "PublishedString" />
      (<webobject name = "PublishToggleHyperlink"><webobject name = "PublishedToggleString" /></webobject>) 
    </webobject>
    <div>
      This site is owned by: <strong><webobject name = "SiteOwnerString"/></strong>, and associated with unit: <strong><webobject name = "AssociatedUnitString"/></strong>
    </div>
  </div>
</webobject>
