<!-- ChangePasswordPanel Start -->
<WEBOBJECT NAME=ChangePasswordForm>
	<div valign="bottom" align="right">
		<WEBOBJECT NAME=ResetButton></WEBOBJECT><WEBOBJECT NAME=SpacerImage></WEBOBJECT><WEBOBJECT NAME=SubmitButton></WEBOBJECT>
	</div>
	<p>
		<WEBOBJECT NAME=MessageString></WEBOBJECT><!-- rarely used -->
	</p>
	<hr class="primaryBarStyle">
	<TABLE BORDER="0" cellpadding="2" cellspacing="2" class="content">
		<WEBOBJECT NAME=HasErrorMessageConditional>
			<TR>
				<TD ALIGN="left" VALIGN="top" colspan="2" class="warningText">
					<WEBOBJECT NAME=ErrorMessageString></WEBOBJECT>
				</TD>
			</TR>
		</WEBOBJECT>
		<TR>
			<TD WIDTH="240">
				<b><WEBOBJECT NAME=UserNameTitle></WEBOBJECT>:</b> 
                <span class="microText">
                  <span class="coloredText">
                     <I>
                       (your email address)
                     </I>
                  </span>
                </span>
            </TD>
			<TD><WEBOBJECT NAME=UserIDTextField></WEBOBJECT></td>
		</TR>
		<TR>
			<TD><b>Old Password:</b></TD>
			<TD><WEBOBJECT NAME=OldPasswordTextField></WEBOBJECT></TD>
		</TR>
		<TR>
			<TD><b>New Password:</b></TD>
			<TD><WEBOBJECT NAME=PasswordTextField></WEBOBJECT></TD>
		</TR>
		<TR>
			<TD><b>Confirm New Password:</b></TD>
			<TD><WEBOBJECT NAME=SecondPasswordTextField></WEBOBJECT></TD>
		</TR>
	</TABLE>
</WEBOBJECT NAME=ChangePasswordForm>
<!-- ChangePasswordPanel End -->
