<br>
<b>For
<span class="coloredText"><WEBOBJECT NAME=InternalUsersNameString></WEBOBJECT></span>: Enter their
<span class="coloredText"><WEBOBJECT NAME=InternalUserDesignatorString></WEBOBJECT></span></b>
<p>
<b>For <span class="coloredText">non-<WEBOBJECT NAME=InternalUsersNameString></WEBOBJECT></span></B>: Enter their full E-mail address (e.g., <span class="coloredText"><B>username@someplace.edu</B></span>).
If they have not previously been registered as a <WEBOBJECT NAME=ProductNameString></WEBOBJECT> user, then this E-mail address will become
their <WEBOBJECT NAME=ProductNameString></WEBOBJECT> user ID and they will be sent a message informing them of that fact. They will be assigned a default password and be instructed how to change their password or have it mailed to them if they forget it.
<br>
</p>