<webobject name="DynamicBody">
	<h1>Default Main Page</h1>
	If you are seeing this page it is because
	<ul>
		<li>you have the generic version of GVCSMCustom installed</li>
		<li>you have forgotten to map the Main page to installation's main page in SiteMakerCustom.plist in your GVCSMCustom framework.</li>
		<li>you have forgotten to set MainPageSiteID in SiteMakerCustom.plist in your GVCSMCustom framework.</li>
	</ul>
	<br/><br/>
	<webobject name=SearchForSiteHyperlink><big>S</big>earch for a Site</webobject><br/><br/>
	<webobject name=RequestSiteHyperlink><big>R</big>equest a New Site</webobject><br/><br/>
	<webobject name=ConfigureSiteHyperlink><big>C</big>onfigure an Existing Site</webobject><br/><br/>
	<webobject name=ChangePasswordHyperlink><big>C</big>hange Password</webobject><br/><br/>
	<webobject name=ManageSiteStylesHyperlink><big>M</big>anage Site Styles</webobject><br/><br/>
	<webobject name=AdminAreaHyperlink><big>A</big>dmin Area</webobject><br/><br/>
	<webobject name=ShowErrorLogHyperlink><big>S</big>how Error Log</webobject><br/><br/>
	<!-- This link intentionlly made same colour as background to hide it.  It is for search engines only.  FWIW some search engines look for and punish tactics such as this.  It has been aligned right to prevent it from being accidently clicked and reducing the odds of it being moused over.  Also to that end it is now only a single character link with a "title" -->
	<div align="right">
		<A HREF="/siteindex.html" class="stealthLink" title="List of Active Websites">.</A>
	</div>
</webobject>
