<table width="100%" border="0" cellpadding="8" align="Center"  class="coloredTable">
  <tbody>
    <tr>
      <th align="Center">
        Display<br>Mode
      </th>
      <th align="Center">
        Template In Use
      </th>
      <th colspan="3" align="Center" valign="Bottom">
        <br>Custom Template Actions
      </th>
    </tr>
    <WEBOBJECT NAME=SingleRecord></WEBOBJECT>
    <WEBOBJECT NAME=ListOfRecords></WEBOBJECT>
    <WEBOBJECT NAME=AddForm></WEBOBJECT>
    <WEBOBJECT NAME=SearchForm></WEBOBJECT>
    <WEBOBJECT NAME=ImportForm></WEBOBJECT>
  </tbody>
</table>
<blockquote>
  <br>
  <p>
   "<em>Download Template</em>" allows you to view or save the currently loaded Custom Template. Initially, this template displays data in a layout very much like the Standard Template.</p>
  <p>After you have downloaded and modified a copy of the initial Custom Template, you can use it to replace the currently loaded version.</p>
  <p>"<em>Delete Template</em>" will discard any Custom Template that you have uploaded, and revert the Custom Template to its initial state.</p>
 </blockquote>