<webobject Name = "SectionRepetition">
  <webobject name = "ShouldDisplaySection">
    <webobject name = "LIGenericContainer">
      <table border = "0" cellpadding = "0" cellspacing = "0">
        <tr valign = "middle">

          <td class = "sectionOrder">
            <webobject name = "IsntHomeSectionConditional2">
              <webobject name = "CanReOrderConditional"><webobject name = "OrderPopup" /></webobject>
              <webobject name = "CanReOrderConditional2"><webobject name = "OrderString" /></webobject>
            </webobject>
            <webobject name = "HomePageConditional">
              <strong>Home</strong>
            </webobject>
          </td>


          <webobject name = "IsNotCopyingResourcesConditional">
            <td class = "sectionIndent">
              <strong>
                <webobject name = "OutdentHyperlink"><webobject name = "OutDentImage" /></webobject>&nbsp; 
                <webobject name = "IndentHyperlink"><webobject name = "IndentImage" /></webobject>
              </strong>
            </td>

            <td class = "sectionTwisty">
              <strong>
                <webobject name = "NextSectionIsIndentedConditional">
                  <webobject name = "IsNextSectionHiddenConditional">
                    <webobject name = "ExpandSectionsHyperlink"><webobject name = "ShowIndentedNextSectionImage" /></webobject>
                  </webobject>
                  <webobject name = "IsNextSectionDisplayedConditional">
                    <webobject name = "CollapseSectionsHyperlink"><webobject name = "HideIndentedNextSectionImage" /></webobject>
                  </webobject>
                </webobject>
              </strong>
            </td>
            <webobject name = "IndentTD">
              <strong>
                <webobject name = "ViewSectionHyperlink"> <webobject name = "SectionNameString" /> </webobject>
              </strong>
            </webobject>

            <td class = "sectionType">
              <webobject name = "SectionTypeString" />
              <webobject name = "DataAccessHasNotificationConditional"> <webobject name = "MailImage" /> </webobject>
            </td>

            <td class = "sectionAccessGroups">
              <webobject name = "HasAtMostOneGroupConditional">
                <webobject name = "GroupsRepetition">
                  <webobject name = "ManageGroupHyperlink"><webobject name = "GroupName" /></webobject>
                </webobject>
              </webobject>
              <webobject name = "HasAtLeastTwoGroupsConditional">
                <webobject name = "GroupSummaryHyperlink">
                  <webobject name = "IsGroupHiddenConditional"> <webobject name = "ShowGroupsImage" /> </webobject>
                  <webobject name = "IsGroupDisplayedConditional"> <webobject name = "HideGroupsImage" /> </webobject>
                  <b><webobject name = "GroupCountString" /> Groups</b>
                </webobject>
                <br />
                <webobject name = "GroupsShownConditional">
                  <webobject name = "GroupsRepetition">
                    <webobject name = "ManageGroupHyperlink"><webobject name = "GroupName" /></webobject>
                    <webobject name = "GroupSeperatorString" />
                  </webobject>
                </webobject>
              </webobject>
            </td>

            <td class = "sectionActions">
              <webobject name = "ObserveActionPopupContainer"><webobject name = "ActionSelectPopup" /></webobject>
            </td>

            <td class = "sectionMark">
              <span class = "sectionCheckbox">
                <webobject name = "ObserveSelectedSectionCheckboxContainer"><webobject name = "SelectedSectionCheckbox" /></webobject>
              </span>
            </td>
          </webobject>


          <webobject name = "CopyingResourcesConditional">
            <td class = "sectionIndent" />
            <td class = "sectionTwisty" />

            <webobject name = "IndentTD">
              <span class = "boldText"><webobject name = "SectionNameString2" /></span>
              <webobject name = "IsCopyingConditional">
                <span class = "inProgressTask">
                  <em>Copying...</em>
                </span>
              </webobject>
              <webobject name = "InstallingPackageConditional">
                <span class = "inProgressTask">
                  <em>Installing section 
                    <webobject name = "SectionString" />
                    from Data Table Package</em>
                </span>
              </webobject>
            </webobject>
          </webobject>
        </tr>

        <webobject name = "TRGenericContainer">
          <td colspan = "2" />
          <td colspan = "6"> <webobject name = "BusyImage" />&nbsp;Processing... </td>
        </webobject>
      </table>
    </webobject>
  </webobject>
</webobject>