{
    attributes = (
        {columnName = id; name = id; prototypeName = Key; }, 
        {columnName = "the_name"; name = name; prototypeName = String; width = 50; }
    ); 
    attributesUsedForLocking = (id, name); 
    className = "net.global_village.eofextensions.tests.TestEntityWithRelationship"; 
    classProperties = (name, mandatoryToMany, mandatoryToOne, optionalToMany, optionalToOne); 
    externalName = "SIMPLE_REL_TEST_ENTITY"; 
    fetchSpecificationDictionary = {}; 
    name = TestEntityWithRelationship; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = ToManyDestinationEntity; 
            isMandatory = Y; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = id; }); 
            name = mandatoryToMany; 
        }, 
        {
            deleteRule = EODeleteRuleDeny; 
            destination = ToOneDestinationEntity; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = id; }); 
            name = mandatoryToOne; 
        }, 
        {
            deleteRule = EODeleteRuleDeny; 
            destination = ToManyDestinationEntity; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = id; }); 
            name = optionalToMany; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = ToOneDestinationEntity; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = id; }); 
            name = optionalToOne; 
        }
    ); 
}
