{
    attributes = (
        {columnName = the_name; name = name; prototypeName = String; width = 50; }, 
        {columnName = the_id; name = theID; prototypeName = Key; }
    ); 
    attributesUsedForLocking = (name, theID); 
    className = net.global_village.eofextensions.tests.TestModel1Entity; 
    classProperties = (name); 
    externalName = Test_Model1_Entity; 
    fetchSpecificationDictionary = {}; 
    name = TestModel1Entity; 
    primaryKeyAttributes = (theID); 
}
