<webobject name="DynamicBody">
	<h1>Confirm Deletion Page</h1>
	<hr class="primaryBarStyle">
    <WEBOBJECT NAME="ConfirmationForm">
	<div align="center"><WEBOBJECT NAME="MessageString"></WEBOBJECT></div>
    	<table BORDER="0" CELLSPACING="0" CELLPADDING="0" align="center">
    		<tr>
    			<td class="deleteButton">
						<WEBOBJECT NAME="ProceedButton"></WEBOBJECT>
				</td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td>
					<WEBOBJECT NAME="CancelButton"></WEBOBJECT>
				</TD>
    		</tr>
    	</table>
    </WEBOBJECT>
</webobject>		