<table class=content width=100%>
	<!-- Netscape 4.8 does not correctly apply the table width CSS rule in this case, hence the 100% -->
	<tr>
		<td valign=top class=leftContentColumn><b>External Group Name:</b><br/><i class="requiredText">(required)</i></td>
		<td class=rightContentColumn><webobject NAME=LDAPGroupNameTextField></webobject><br/>
				<webobject NAME=ValidationErrorConditional><span class=warningText aligh="left"><WEBOBJECT NAME=ErrorMessageString></WEBOBJECT></span><br/></webobject>
			<span class=descriptiveText>This name must match exactly the desired group name as it appears on the corresponding server.</span><br/>
			<webobject NAME=ServerDescriptionString></webobject>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr class="alternateBarStyle">
		</td>
	</tr>
</table>