{
    attributes = (
        {columnName = the_name; name = name; prototypeName = String; width = 50; }, 
        {columnName = the_id; name = theID; prototypeName = Key; }
    ); 
    attributesUsedForLocking = (theID, name); 
    className = net.global_village.testeomodelbase.ValidationBareEntity; 
    classProperties = (name); 
    externalName = VALID_BARE_ENTITY; 
    fetchSpecificationDictionary = {}; 
    name = ValidationBareEntity; 
    primaryKeyAttributes = (theID); 
}
