<table class=content width=100%>
	<tr>
		<td valign=top class=leftContentColumn><b>Remote Participation Password:</b><br/><i class="requiredText">(leave blank to deny access)</i></td>
		<td class=rightContentColumn><webobject NAME=Password></webobject><br/>
		</td>
	</tr>
	<tr>
		<td valign=top class=leftContentColumn><b>Select Style:</b></td>
		<td class=rightContentColumn><webobject NAME=StyleChooser></webobject><br/>
		</td>
	</tr>
	<tr>
		<td colspan="3" valign=top class=leftContentColumn><b>Use this URL in remote system:</b></td>
	</tr>
	<tr>
		<td colspan="3" valign=top class=rightContentColumn><webobject NAME=AccessURL/></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr class="alternateBarStyle"/>
		</td>
	</tr>
</table>