<table border="0" cellspacing="2" cellpadding="2" class="coloredTable" align="center" width="95%"><!-- width set to 95% for Netscape 4 -->
	<tr>
		<th class="coloredTableHeading">
			SiteID
		</th>
		<th class="coloredTableHeading">
			OwnerID
		</th>
		<th class="coloredTableHeading">
			Unit
		</th>
		<th class="coloredTableHeading">
			Quota<br />(MB)
		</th>
		<th class="coloredTableHeading">
			Redirect URL;<br />
			Replication Info
		</th>
	</tr>
	<WEBOBJECT NAME="WebsiteRepetition">
	<tr>
		<td align="left">
			<b><WEBOBJECT NAME=SiteID></WEBOBJECT></b>
		</td>
		<td align="left">
			<b><WEBOBJECT NAME=OwnerID></WEBOBJECT></b>
		</td>
		<td align="left">
			<b><WEBOBJECT NAME=Unit></WEBOBJECT></b>
		</td>
		<td align="right">
			<b><WEBOBJECT NAME=Quota></WEBOBJECT></b>
		</td>
		<td align="left">
			<b><WEBOBJECT NAME=RedirectURL></WEBOBJECT></b>
		</td>
	</tr>
	</WEBOBJECT>
</table>