<WEBOBJECT NAME=IsDeletedEmbeddedSiteConditional>
	<br>
	<br>
	<div align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: small;">
		<span id="systemMessageUnexpectedDeletion">
			<b>This page cannot be displayed.</b>
			<br>
			<br>
			The contents were from a different site which has been deleted.
		</span> 
	</div>
	<br>
</WEBOBJECT>
<WEBOBJECT NAME=IsUnpublishedSiteConditional>
	<div align="center">
		<span id="systemMessageUnavailablePage">
			The contents of this page are from a site which is temporarily unavailable:
			<br>
			<WEBOBJECT NAME=EmbeddedSiteBanner></WEBOBJECT>
		</span>
	</div>
	<br>
</WEBOBJECT>
<WEBOBJECT NAME=CanDisplaySectionConditional>
	<WEBOBJECT NAME=EmbeddedSiteComponent></WEBOBJECT>
    <WEBOBJECT NAME=SectionSourceNotification></WEBOBJECT>
</WEBOBJECT NAME=CanDisplaySectionConditional>