Drag and drop to reorder the fields<br />

<webobject name = "ReorderUpdateArea">
  <webobject name = "ReorderForm">
    <webobject name = "ReorderRepetition">
      <table border = "0" cellspacing = "2" cellpadding = "2" class = "coloredTable" align = "center" width = "95%">
        <tr>
          <td align = "left" class = "daFieldNameInList"> <webobject name = "ReorderColumnNameString" /> </td>
        </tr>
      </table>
    </webobject>
  </webobject>
</webobject>

<span style = "float:left">
  <webobject name = "ReorderFieldsModalDialogDoneLink">Done</webobject>
</span>