  <tr>
    <td align="Center" valign="Middle">
      <strong><WEBOBJECT NAME=TitleString></WEBOBJECT></strong>
    </td>
    <td align="left" valign="Middle">
 	  <WEBOBJECT NAME=StandardRadioButton></WEBOBJECT>&nbsp;Standard<br>
      <WEBOBJECT NAME=CustomRadioButton></WEBOBJECT>&nbsp;Custom
    </td>
    <td align="Center">
 		<WEBOBJECT NAME=DownloadTemplateHyperlink></WEBOBJECT>
    </td>
    <td valign="Middle">
      <div class="descriptiveText">Replace Template (browse for new version, then submit changes)</div>
 	  <WEBOBJECT NAME=UploadTemplate></WEBOBJECT>
        <webobject name=HasTemplateValidationErrorConditional><div class="warningText"><webobject name=TemplateValidationErrorString></webobject></div></webobject>
    </td>
    <td align="Center">
 	  <WEBOBJECT NAME=DeleteTemplateHyperlink>Delete<br>Template</WEBOBJECT>
    </td>
  </tr>