<webobject NAME=DynamicBody>
	<TABLE BORDER="0" CELLPADDING="2" CELLSPACING="2" class="content">
		<TR>
			<TD><h1>Login to <WEBOBJECT NAME=ProductNameString></WEBOBJECT></h1></TD>
		</TR>
		<WEBOBJECT NAME=HasLoginMessageConditional>
			<TR>
				<TD class="warningText">
					<WEBOBJECT NAME=LoginMessageString></WEBOBJECT>
				</TD>
			</TR>
		</WEBOBJECT>
		<TR>
			<TD align="left">
			<HR class="primaryBarStyle" />
			<WEBOBJECT NAME=LoginPanel></WEBOBJECT>
			</TD>
		</TR>
	</TABLE>
</webobject>