{
    attributes = (
        {
            allowsNull = N; 
            columnName = "EDITOR_NAME"; 
            name = editorName; 
            prototypeName = mediumString; 
        }, 
        {allowsNull = N; columnName = key; name = key; prototypeName = shortString; }, 
        {
            allowsNull = N; 
            columnName = NAME; 
            name = name; 
            prototypeName = mediumString; 
        }, 
        {allowsNull = N; columnName = OID; name = oid; prototypeName = dbKey; }, 
        {allowsNull = N; columnName = ORDER; name = order; prototypeName = integer; }, 
        {
            allowsNull = N; 
            columnName = "PAGE_COMP_ENTITY"; 
            name = pageComponentEntity; 
            prototypeName = mediumString; 
        }
    ); 
    attributesUsedForLocking = (editorName, key, name, order, pageComponentEntity); 
    className = "com.gvcsitemaker.core.EmbeddedSiteSectionType"; 
    classProperties = (editorName, key, name, oid, order, pageComponentEntity); 
    externalName = "SM_SECTION_TYPE"; 
    fetchSpecificationDictionary = {}; 
    isAbstractEntity = Y; 
    maxNumberOfInstancesToBatchFetch = 20; 
    name = EmbeddedSiteSectionType; 
    parent = SectionType; 
    primaryKeyAttributes = (oid); 
    restrictingQualifier = "(key = 'EmbeddedSite')"; 
}
