{
    attributes = (
        {
            columnName = "EXPIRATION_DATE"; 
            name = expirationDate; 
            prototypeName = dateTime; 
        }, 
        {
            allowsNull = N; 
            columnName = "FILE_PASSWORD_PKEY"; 
            name = filePasswordPKey; 
            prototypeName = dbKey; 
        }, 
        {columnName = PASSWORD; name = password; prototypeName = shortString; }, 
        {
            allowsNull = N; 
            columnName = "SITE_FILE_PASSWORD_FKEY"; 
            name = siteFilePasswordFKey; 
            prototypeName = dbKey; 
        }
    ); 
    attributesUsedForLocking = (filePasswordPKey, password, siteFilePasswordFKey); 
    className = "com.gvcsitemaker.core.FilePassword"; 
    classProperties = (expirationDate, password, siteFile); 
    externalName = "SM_FILE_PASSWORD"; 
    fetchSpecificationDictionary = {}; 
    name = FilePassword; 
    primaryKeyAttributes = (filePasswordPKey); 
    relationships = (
        {
            destination = SiteFile; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = filePKey; sourceAttribute = siteFilePasswordFKey; }); 
            name = siteFile; 
        }
    ); 
}
