{
    attributes = (
        {
            allowsNull = N; 
            columnName = "CREATION_DATE"; 
            name = creationDate; 
            prototypeName = dateTime; 
        }, 
        {
            allowsNull = N; 
            columnName = "GROUP_PKEY"; 
            name = groupPKey; 
            prototypeName = dbKey; 
        }, 
        {
            allowsNull = N; 
            columnName = "GROUP_NAME"; 
            name = name; 
            prototypeName = shortString; 
        }, 
        {allowsNull = N; columnName = TYPE; name = type; prototypeName = tinySting; }
    ); 
    attributesUsedForLocking = (groupPKey, name, type); 
    cachesObjects = Y; 
    className = "com.gvcsitemaker.core.InternalUsersGroup"; 
    classProperties = (creationDate, name, type); 
    externalName = "SM_GROUP"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_clientClassPropertyNames" = (creationDate); }; 
    maxNumberOfInstancesToBatchFetch = 50; 
    name = InternalUsersGroup; 
    parent = Group; 
    primaryKeyAttributes = (groupPKey); 
    restrictingQualifier = "(type = 'InternalUsers')"; 
}
