{
    attributes = (
        {
            allowsNull = N; 
            columnName = "CREATION_DATE"; 
            name = creationDate; 
            prototypeName = dateTime; 
        }, 
        {
            allowsNull = N; 
            columnName = "GROUP_PKEY"; 
            name = groupPKey; 
            prototypeName = dbKey; 
        }, 
        {
            allowsNull = N; 
            columnName = "GROUP_NAME"; 
            name = name; 
            prototypeName = shortString; 
        }, 
        {allowsNull = N; columnName = TYPE; name = type; prototypeName = tinySting; }, 
        {
            allowsNull = N; 
            columnName = "PARENT_WEBSITE"; 
            name = websiteFKey; 
            prototypeName = dbKey; 
        }
    ); 
    attributesUsedForLocking = (groupPKey, name, type); 
    className = "com.gvcsitemaker.core.LocalGroup"; 
    classProperties = (
        creationDate, 
        dataAccessNotifications, 
        files, 
        name, 
        parentWebsite, 
        sections, 
        type, 
        users
    ); 
    externalName = "SM_GROUP"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (creationDate, files, parentWebsite, sections, users); 
    }; 
    maxNumberOfInstancesToBatchFetch = 50; 
    name = LocalGroup; 
    parent = WebsiteGroup; 
    primaryKeyAttributes = (groupPKey); 
    relationships = (
        {
            definition = "groupDataAccessNotifications.dataAccess"; 
            internalInfo = {"_nameInObjectStore" = "dataAccessWebsiteGroupNotifications_dataAccess"; }; 
            name = dataAccessNotifications; 
            numberOfToManyFaultsToBatchFetch = 50; 
        }, 
        {
            definition = "groupFiles.file"; 
            name = files; 
            numberOfToManyFaultsToBatchFetch = 50; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = DataAccessWebsiteGroupNotification; 
            internalInfo = {"_nameInObjectStore" = websiteWebsiteGroups; }; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = groupPKey; sourceAttribute = groupPKey; }); 
            name = groupDataAccessNotifications; 
            numberOfToManyFaultsToBatchFetch = 50; 
            propagatesPrimaryKey = Y; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = GroupFile; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = groupPKey; sourceAttribute = groupPKey; }); 
            name = groupFiles; 
            numberOfToManyFaultsToBatchFetch = 50; 
            propagatesPrimaryKey = Y; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = GroupSection; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = groupPKey; sourceAttribute = groupPKey; }); 
            name = groupSections; 
            numberOfToManyFaultsToBatchFetch = 50; 
            propagatesPrimaryKey = Y; 
        }, 
        {
            destination = Website; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = websitePKey; sourceAttribute = websiteFKey; }); 
            name = parentWebsite; 
        }, 
        {
            definition = "groupSections.section"; 
            name = sections; 
            numberOfToManyFaultsToBatchFetch = 50; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = UserGroup; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = groupPKey; sourceAttribute = groupPKey; }); 
            name = userGroups; 
            numberOfToManyFaultsToBatchFetch = 50; 
            propagatesPrimaryKey = Y; 
        }, 
        {
            definition = "userGroups.user"; 
            internalInfo = {"_nameInObjectStore" = "userGroups_user"; }; 
            name = users; 
            numberOfToManyFaultsToBatchFetch = 50; 
        }
    ); 
    restrictingQualifier = "(type = 'Local')"; 
}
