{
    attributes = (
        {
            allowsNull = N; 
            columnName = "GROUP_PKEY"; 
            name = groupPKey; 
            prototypeName = dbKey; 
        }, 
        {
            allowsNull = N; 
            columnName = "SECTION_PKEY"; 
            name = sectionPKey; 
            prototypeName = dbKey; 
        }
    ); 
    attributesUsedForLocking = (groupPKey, sectionPKey); 
    className = "com.webobjects.eocontrol.EOGenericRecord"; 
    externalName = "SM_SECTION_EDITOR_GROUP"; 
    fetchSpecificationDictionary = {}; 
    maxNumberOfInstancesToBatchFetch = 50; 
    name = SectionEditorGroup; 
    primaryKeyAttributes = (groupPKey, sectionPKey); 
    relationships = (
        {
            destination = Group; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = groupPKey; sourceAttribute = groupPKey; }); 
            name = group; 
        }, 
        {
            destination = Section; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = sectionPKey; sourceAttribute = sectionPKey; }); 
            name = section; 
        }
    ); 
}
