{
    attributes = (
        {
            allowsNull = N; 
            columnName = "CREATION_DATE"; 
            name = creationDate; 
            prototypeName = dateTime; 
        }, 
        {
            allowsNull = N; 
            columnName = "GROUP_PKEY"; 
            name = groupPKey; 
            prototypeName = dbKey; 
        }, 
        {
            allowsNull = N; 
            columnName = "GROUP_NAME"; 
            name = name; 
            prototypeName = shortString; 
        }, 
        {allowsNull = N; columnName = TYPE; name = type; prototypeName = tinySting; }
    ); 
    attributesUsedForLocking = (groupPKey, name, type); 
    className = "com.gvcsitemaker.core.Group"; 
    classProperties = (name, creationDate, type); 
    externalName = "SM_GROUP"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_clientClassPropertyNames" = (); }; 
    isAbstractEntity = Y; 
    name = Group; 
    primaryKeyAttributes = (groupPKey); 
}
