{
    attributes = (
        {columnName = CHANGES; name = changes; prototypeName = note; }, 
        {
            allowsNull = N; 
            columnName = "DATE_RECORDED"; 
            name = dateRecorded; 
            prototypeName = dateTime; 
        }, 
        {columnName = NOTES; name = notes; prototypeName = note; }, 
        {allowsNull = N; columnName = OID; name = oid; prototypeName = dbKey; }, 
        {
            allowsNull = N; 
            columnName = "USER_FKEY"; 
            name = userFKey; 
            prototypeName = dbKey; 
        }, 
        {columnName = "WEBSITE_FKEY"; name = websiteFKey; prototypeName = dbKey; }
    ); 
    attributesUsedForLocking = (oid, changes, notes, userFKey, websiteFKey); 
    className = "com.gvcsitemaker.core.WebsiteChangeLog"; 
    classProperties = (changes, dateRecorded, notes, user, websiteFKey, website); 
    externalName = "SM_WEBSITE_CHANGE_LOG"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_nameInObjectStore" = "SM_CAHNGE_LOG"; }; 
    name = WebsiteChangeLog; 
    parent = ChangeLog; 
    primaryKeyAttributes = (oid); 
    relationships = (
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = User; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = userPKey; sourceAttribute = userFKey; }); 
            name = user; 
        }, 
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = Website; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = websitePKey; sourceAttribute = websiteFKey; }); 
            name = website; 
        }
    ); 
}
