{
    attributes = (
        {columnName = key; name = key; prototypeName = String; width = 50; }, 
        {columnName = name; name = name; prototypeName = String; width = 50; }, 
        {columnName = "the_id"; name = theID; prototypeName = Key; }
    ); 
    attributesUsedForLocking = (theID, name, key); 
    className = "net.global_village.genericobjects.KeyedLookup"; 
    classProperties = (name, key, localizations); 
    fetchSpecificationDictionary = {}; 
    isAbstractEntity = Y; 
    name = GVCKeyedLookup; 
    parent = GVCLookup; 
    primaryKeyAttributes = (theID); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = GVCLookupLocalization; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = lookupID; sourceAttribute = theID; }); 
            name = localizations; 
            propagatesPrimaryKey = Y; 
        }
    ); 
}
