<script language="javascript" type="text/javascript" src="/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
  function myCustomSetupContent(editor_id, body, doc) {
    <webobject name = "CSSConditional">tinyMCE.getInstanceById(editor_id).dom.loadCSS("<webobject name="CSSFile"></webobject>");</webobject>
    tinyMCE.getInstanceById(editor_id).settings['external_link_list_url'] = "<webobject name="LinkListURL"></webobject>";
    tinyMCE.getInstanceById(editor_id).settings['external_image_list_url'] = "<webobject name="ImageListURL"></webobject>";
  }
</script>


<WEBOBJECT NAME=Arrangement1Conditional>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="mixedMediaTable">
	<tr class="mixedMediaRow1">
		<td class="mixedMediaPane1">
			<WEBOBJECT NAME=Pane1Component></WEBOBJECT>
		</td>
	</tr>
</table>
</WEBOBJECT>

<WEBOBJECT NAME=Arrangement2Conditional>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="mixedMediaTable">
	<tr class="mixedMediaRow1">
        <webobject name = "TDPane1">
			<WEBOBJECT NAME=Pane1Component></WEBOBJECT>
		</webobject>
		<td class="mixedMediaPane2">
			<WEBOBJECT NAME=Pane2Component></WEBOBJECT>
		</td>
	</tr>
</table>
</WEBOBJECT>

<WEBOBJECT NAME=Arrangement3Conditional>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="mixedMediaTable">
	<tr class="mixedMediaRow1">
		<td class="mixedMediaPane1">
			<WEBOBJECT NAME=Pane1Component></WEBOBJECT>
		</td>
	</tr>
	<tr class="mixedmediaRow2">
		<td class="mixedMediaPane2">
			<WEBOBJECT NAME=Pane2Component></WEBOBJECT>
		</td>
	</tr>
</table>
</WEBOBJECT>

<WEBOBJECT NAME=Arrangement4Conditional>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="mixedMediaTable">
	<tr class="mixedMediaRow1">
		<td colspan="2" class="mixedMediaPane1">
			<WEBOBJECT NAME=Pane1Component></WEBOBJECT>
		</td>
	</tr>
	<tr class="mixedmediaRow2">
        <webobject name = "TDPane2">
			<WEBOBJECT NAME=Pane2Component></WEBOBJECT>
		</webobject>
		<td class="mixedMediaPane3">
			<WEBOBJECT NAME=Pane3Component></WEBOBJECT>
		</td>
	</tr>
</table>
</WEBOBJECT>

<WEBOBJECT NAME=Arrangement5Conditional>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="mixedMediaTable">
	<tr class="mixedMediaRow1">
        <webobject name = "TDPane3">
			<WEBOBJECT NAME=Pane1Component></WEBOBJECT>
		</webobject>
		<td class="mixedMediaPane2">
			<WEBOBJECT NAME=Pane2Component></WEBOBJECT>
		</td>
	</tr>
	<tr class="mixedmediaRow2">
		<td colspan="2" class="mixedMediaPane3">
			<WEBOBJECT NAME=Pane3Component></WEBOBJECT>
		</td>
	</tr>
</table>
</WEBOBJECT>

<WEBOBJECT NAME=Arrangement6Conditional>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="mixedMediaTable">
	<tr class="mixedMediaRow1">
        <webobject name = "TDPane4">
			<WEBOBJECT NAME=Pane1Component></WEBOBJECT>
		</webobject>
		<td rowspan="2" class="mixedMediaPane3">
			<WEBOBJECT NAME=Pane3Component></WEBOBJECT>
		</td>
	</tr>
	<tr class="mixedmediaRow2">
		<td class="mixedMediaPane2">
			<WEBOBJECT NAME=Pane2Component></WEBOBJECT>
		</td>
	</tr>
</table>
</WEBOBJECT>

<WEBOBJECT NAME=Arrangement7Conditional>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="mixedMediaTable">
	<tr class="mixedMediaRow1">
        <webobject name = "TDPane5">
			<WEBOBJECT NAME=Pane1Component></WEBOBJECT>
		</webobject>
		<td class="mixedMediaPane2">
			<WEBOBJECT NAME=Pane2Component></WEBOBJECT>
		</td>
	</tr>
	<tr class="mixedmediaRow2">
		<td class="mixedMediaPane3">
			<WEBOBJECT NAME=Pane3Component></WEBOBJECT>
		</td>
	</tr>
</table>
</WEBOBJECT>

<WEBOBJECT NAME=Arrangement8Conditional>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="mixedMediaTable">
	<tr class="mixedMediaRow1">
        <webobject name = "TDPane6">
			<WEBOBJECT NAME=Pane1Component></WEBOBJECT>
		</webobject>
		<td class="mixedMediaPane2">
			<WEBOBJECT NAME=Pane2Component></WEBOBJECT>
		</td>
	</tr>
	<tr class="mixedmediaRow2">
		<td class="mixedMediaPane3">
			<WEBOBJECT NAME=Pane3Component></WEBOBJECT>
		</td>
		<td class="mixedMediaPane4">
			<WEBOBJECT NAME=Pane4Component></WEBOBJECT>
		</td>
	</tr>
</table>
</WEBOBJECT>