<webobject name="PreviewJavaScript"></webobject>
<WEBOBJECT NAME=Form> 
	<!-- also removed padding and spacing -->
		<table border="0" cellpadding="0" cellspacing="0" class="content" style = "width: 100%">
      <TR>
        <td>
            <webobject name = "BackToWebsiteSectionsHyperlink"><img src = "/GVCSiteMaker/Images/oneArrowBack.png" alt = "Back To Website Sections" border = "0" style = "position:relative; top:3px;" />
              Back to Website Sections
            </webobject>
        </TD>
        <td valign="top" align="right">	
          <WEBOBJECT NAME=Reset></WEBOBJECT>&nbsp;
          <WEBOBJECT NAME=SubmitAndPreview></WEBOBJECT>&nbsp;
          <WEBOBJECT NAME=Submit></WEBOBJECT>
        </TD>
      </TR>
    	<!-- END ROW WITH TITLE AND BUTTONS -->
			<tr>
				<td colspan="2">
					<table border="0" cellpadding="2" cellspacing="2" width="100%">
						<tr><td><hr class="primaryBarStyle"/></td></tr>
					</table>
				</td>
			</tr>
    </TABLE>
	<WEBOBJECT NAME=EditForm></WEBOBJECT>
</WEBOBJECT NAME=Form>
