<center>
       <div style="font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; font-weight: bold;"><div class="listOfLinksTitle"><WEBOBJECT NAME=SectionNameString></WEBOBJECT></div></div>
       <div style="font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px;"><div class="listOfLinksText"><WEBOBJECT NAME=SectionDetailsString></WEBOBJECT><HR></div></div>
</center>
<WEBOBJECT NAME=ComponentList>
   	<WEBOBJECT NAME=AComponent></WEBOBJECT>
</WEBOBJECT NAME=ComponentList>
