<webobject name="DynamicBody"><!-- cell padding removed except around HR -->
	<table border="0" cellpadding="0" cellspacing="0" class="content">
		<tr>
			<td  colspan="2" style="padding-left: 2px;">
				<h1>Website Copy in Progess</h1>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr class="primaryBarStyle">
			</td>
		</tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" class="content">
		<tr>
			<td class="boldText">Copying Website:</td>
			<td  align="left" class="rightContentColumn"> <WEBOBJECT NAME=ExampleSiteIDString></WEBOBJECT> </td>
		</tr>
		<tr>
			<td class="boldText">For Website:</td>
			<td  align="left" class="rightContentColumn"><WEBOBJECT NAME=SiteIDString></WEBOBJECT></td>
		</tr>
		<tr>
			<td class="rightContentColumn">&nbsp;</td>
			<td> &nbsp;</td>
		</tr>
		<tr>
			<td class="boldText">Current Action:</td>
			<td align="left" class="rightContentColumn"><webobject name=StatusMessageString></webobject></td>
		</tr>
	</table>
</webobject>