<HTML>
	<HEAD>
		<TITLE>Confirm Action</TITLE>
	</HEAD>
	
<BODY bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<WEBOBJECT NAME=Form1> 
      <HR NOSHADE WIDTH="98%">
					<TABLE BORDER="0" CELLPADDING="4" CELLSPACING="4" >
						<TR>
							<TD VALIGN="top" COLSPAN="2">
								<CENTER>
									<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="2">
										<TR>
											<TD><FONT FACE="Arial"><B>You are about to <WEBOBJECT NAME=String3></WEBOBJECT> the
												<WEBOBJECT NAME=String2></WEBOBJECT>
												</B></FONT><FONT FACE="Arial" COLOR="#cc6600"><B>&quot;<WEBOBJECT NAME=String1></WEBOBJECT>&quot;</B></FONT><B><FONT FACE="Arial"><BR>
												This action cannot be reversed. Do you wish to continue ?</font></B></TD>
										</TR>
									</TABLE>
									
								</CENTER>
							</TD>
						</TR>
						<TR>
							<TD WIDTH="50%" VALIGN="top">
								<CENTER>
										<WEBOBJECT NAME=SubmitButton1></WEBOBJECT>
									
								</CENTER>
							</TD>
							<TD WIDTH="50%">
								<CENTER>
									<WEBOBJECT NAME=SubmitButton2></WEBOBJECT>
								</CENTER>
							</TD>
						</TR>
					</TABLE>
					<HR NOSHADE WIDTH="98%">
		</WEBOBJECT>
	</BODY>
</HTML>