<webobject name="DynamicBody">
	<!-- This page does not have any buttons so has the heading laid out slightly differently then from most pages.  -->
	<!-- This page does or does not need previewURL javascript stuff? -->
	<h1>List of Published <WEBOBJECT NAME=ProductNameString></WEBOBJECT> Websites</h1>
	<HR class="primaryBarStyle"/>
	<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" class="content">
		<WEBOBJECT NAME="WebsiteRepetition">
			<TR>
				<TD valign="top">
					<WEBOBJECT NAME="ViewWebsiteLink"></WEBOBJECT>
				</TD>
			</TR>
		</WEBOBJECT>
		<TR>
			<TD valign="top">
				<HR class="primaryBarStyle"/>
			</TD>
		</TR>
		<TR>
			<TD valign="top">
				<WEBOBJECT NAME="WebsiteCount"></WEBOBJECT> Published <WEBOBJECT NAME=ProductNameString></WEBOBJECT> Websites
			</TD>
		</TR>
	</TABLE>
</webobject>