<table border="0" cellspacing="2" cellpadding="2" class="<table border="0" cellspacing="2" cellpadding="2" class="coloredTable" align="center" width="95%"><!-- width set to 95% for Netscape 4 -->" align="center" width="100%"><!-- width set to 100% for Netscape 4 -->
	<tr>
		<th class="coloredTableHeading">
			Unit Name
		</th>
		<th class="coloredTableHeading">
			Encompassing Unit
		</th>
		<th class="coloredTableHeading">
			Quota<br />(MB)		
		</th>
	</tr>
	<WEBOBJECT NAME=OrgUnitRepetion>
    	<tr>
    		<td align="left">
    			<b><WEBOBJECT NAME=UnitNameString></WEBOBJECT></b>
    		</td>
    		<td align="left">
    			<b><WEBOBJECT NAME=ParentUnitString></WEBOBJECT></b>
    		</td>
    		<td align="right">
    			<b><WEBOBJECT NAME=QuotaInMegsString></WEBOBJECT></b>
    		</td>
    	</tr>
	</WEBOBJECT>
</table>