<TABLE BORDER="0" CELLSPACING="2" CELLPADDING="0" class="content">
	<WEBOBJECT NAME=DoesntHaveRecentlyVisitedSitesConditional>
		<TR>
			<TD colspan="2">
				<B class="coloredText">There are no websites in your recently visted list.</B>
			</TD>
		</TR>
	</WEBOBJECT NAME=DoesntHaveRecentlyVisitedSitesConditional>
	<WEBOBJECT NAME=HasRecentlyVisitedSitesConditional>
		<TR>
			<TD colspan="2">
				<h3>Recently visited sites:</h3>
			</TD>
		</TR>
		<WEBOBJECT NAME=HasMultipleGroupsConditional>
			<TR>
				<TD colspan="2"><WEBOBJECT NAME=PageFlipper></WEBOBJECT></TD>
			</TR>
			<TR>
				<TD COLSPAN="2">&nbsp;</TD>
			</TR>
		</WEBOBJECT>
		<WEBOBJECT NAME=RecentlyVisitedSitesRepetition>
			<TR>
				<td valign="top" width="20">&nbsp;</td>
				<TD><WEBOBJECT NAME=WebsiteDescriptionComponent></WEBOBJECT></TD>
			</TR>
		</WEBOBJECT NAME=RecentlyVisitedSitesRepetition>
		<WEBOBJECT NAME=HasMultipleGroupsConditional>
			<TR>
				<TD colspan="2"><WEBOBJECT NAME=PageFlipper></WEBOBJECT></TD>
			</TR>
		</WEBOBJECT>
	</WEBOBJECT NAME=HasRecentlyVisitedSitesConditional>
</TABLE>